<div class="row">
    <ol class="breadcrumb">
        <li>{{vm.listName}}</li>
        <li class="active">Add Column</li>
    </ol>
    <div class="col-md-4">
        <h4 class="alert alert-info">All Columns</h4>
        <table class="table table-bordered">
            <tr data-ng-repeat="col in vm.editableFields">
                <td>{{col.Title}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-8">
        <h4 class="alert alert-info">New Column Information </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Select Column Type</label>
                    <select ng-model="vm.selectedType"
                            data-ng-change="vm.typeOnchange(vm.selectedType)"
                            class="form-control"
                            ng-options="type as type.title for type in vm.columnTypes"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ui-view></div>
            </div>
        </div>
    </div>
   
</div>