<div class="col-md-12">
    <h1>Edit {{vm.listName}}</h1>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4">Name</label>
            <div class="col-md-8">
                <input type="text" class="form-control" data-ng-model="vm.selectedList.Title">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Description</label>
            <div class="col-md-8">
                <textarea class="form-control col-md-8" data-ng-model="vm.selectedList.Description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Allow management of content types</label>
            <div class="col-md-8">
                <label class="radio-inline">
                    <input type="radio" data-ng-model="vm.selectedList.ContentTypesEnabled" data-ng-value="true">
                    Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" data-ng-model="vm.selectedList.ContentTypesEnabled" data-ng-value="false">
                    No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Versioning Enabled</label>
            <div class="col-md-8">
                <label class="radio-inline">
                    <input type="radio" data-ng-model="vm.selectedList.EnableVersioning" data-ng-value="true">
                    Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" data-ng-model="vm.selectedList.EnableVersioning" data-ng-value="false">
                    No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Hidden</label>
            <div class="col-md-8">
                <label class="radio-inline">
                    <input type="radio" data-ng-model="vm.selectedList.Hidden" data-ng-value="true">
                    Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" data-ng-model="vm.selectedList.Hidden" data-ng-value="false">
                    No
                </label>
            </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-primary" data-ng-click="vm.updateList(vm.selectedList)">Done</a>

    </div>
</div>