<div class="col-md-12">
    <ol class="breadcrumb">
        <li>All Templates</li>
        <li class="active">{{vm.templateName}}</li>
    </ol>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Total item</th>
            <th>Action</th>
        </tr>
        <tr data-ng-repeat="list in vm.allLists">
            <td>{{list.Title}}</td>
            <td>{{list.Description}}</td>
            <td>{{list.ItemCount}}</td>
            <td>
                <a ui-sref="app.list({listTemplate: vm.templateName,listId: list.Id, listName: list.Title})" href="javascript:void(0)">
                    <span unselectable="on" class=" ms-cui-img-32by32 ms-cui-img-cont-float">
                        <img unselectable="on" alt="" src="/_layouts/15/1033/images/formatmap32x32.png?rev=43" style="top: -1px; left: -171px;">
                    </span>
                </a>
            </td>
        </tr>
    </table>

    
</div>