<div class="row">
    <div class="col-md-12">
        <h1>Mailing Address</h1>
        <p>
            <b>Phone no:</b> +8801521255151
        </p>
        <p>
            <b>Email:</b> atish.dipongkor@outlook.com
        </p>
        <p>
            <b>Location:</b> 8th floor, Plot#2, Amtoli, Bir Uttam AK Khandakar Rd Mohakhali Commercial Area, Dhaka-1212, Bangladesh
        </p>
        <p>
            <b>Web site:</b> <a href="https://github.com/dipongkor/list-library-manager" target="_blank">click here</a>
        </p>
    </div>
</div>