/* Place custom styles below */
#s4-titlerow, #suiteBarDelta,#s4-ribbonrow{
    display:none!important;
}

.ms-cui-ctl-largelabel, a.ms-cui-ctl-large{
    cursor:pointer!important;
    text-decoration:none;
}

.ms-cui-img-32by32 img{
    cursor:pointer!important;
}

a.btn-primary:visited {
    color:white;
}

#all-lists-header{
    margin-top:1px;
}
a:hover{
    text-decoration:none!important;
}
a:visited{
    color: #2a6496;
    text-decoration:none!important;
}


