#s4-titlerow, #suiteBarDelta,#s4-ribbonrow{
    display:none!important;
}

.ms-cui-ctl-largelabel, a.ms-cui-ctl-large{
    cursor:pointer!important;
    text-decoration:none;
}

.ms-cui-img-32by32 img{
    cursor:pointer!important;
}

#all-lists-header{
    margin-top:1px;
}
a:hover, a:active, a:visited,a:focus {
    text-decoration:none!important;
    outline: 0;
    color:#428bca!important;
}

a.btn-primary{
    color:white!important;
}

a.btn-primary:visited {
    color:white;
}

.ms-promlink-button{
    width: 23px;
    height: 25px;
}

li.active a:hover, li.active a{
    color:white!important;
}


