<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="/_layouts/15/images/siteIcon.png?rev=43">
            </a>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#">Add New</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <button type="button" class="btn btn-default navbar-btn">Add New</button>
        <button type="button" class="btn btn-default navbar-btn">Add New</button>
        <p class="navbar-text navbar-right">Welcome! <a href="#" class="navbar-link">Atish</a></p>
    </div>
</nav>