<div class="row">
    <div class="col-md-12">
        <h1>About this App</h1>
        <p>Following tasks can be done using this App very easily</p>
        <ul>
            <li>Find List/Library</li>
            <li>Add new List/Library</li>
            <li>Edit List/Library Properties</li>
            <li>Delete all items at a time</li>
            <li>Add new column</li>
            <li>Reorder column in forms</li>
            <li>Delete column from List/Library</li>
            <li>Delete List/Library </li>
        </ul>
    </div>
</div>