<div class="row">
    <div class="col-md-12">
        <h1>List/Library Manager</h1>
        <p>Following tasks can be done using this App very easily</p>
        <ul>
            <li>Find List/Library</li>
            <li>Add new List/Library</li>
            <li>Edit List/Library Properties</li>
            <li>Delete all items at a time</li>
            <li>Add new column</li>
            <li>Reorder column in forms</li>
            <li>Delete column from List/Library</li>
            <li>Delete List/Library </li>
        </ul>
        <p>This App in a single page app. We hope you will have a nice UX. As this App is free, so please don't forget to rate this App.</p>
    </div>
</div>