<div class="col-md-12">
    <ol class="breadcrumb">
        <li>{{vm.listName}}</li>
        <li class="active">Reorder Column</li>
    </ol>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label">Select Content Type</label>

                <select ng-model="vm.selectedContentType"
                        data-ng-change="vm.contentTypeOnchange(vm.selectedContentType)"
                        class="form-control"
                        ng-options="contentType as contentType.Name for contentType in vm.contentTypes"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody ui-sortable ng-model="list">
                    <tr data-ng-repeat="field in vm.selectedContentType.allFields" class="item" style="cursor: move;">
                        <td>{{$index + 1}}</td>
                        <td>{{field.Title}}</td>
                        <td>{{field.TypeDisplayName}}</td>
                        <td><a href="javascript:void(0)" data-ng-if="field.CanBeDeleted" data-ng-click="vm.removeColumn(field)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>